.blr-image {
    height: 94vh;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    opacity: 0.8;
}

.bg-text {
    color: white;
    background: transparent;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto';
    font-weight: 600;
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.carouselIndicators {
    visibility: hidden;
}

 
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }