.contactInfo {

    text-align: center;
    justify-content: center;
    align-items: center;
}

.contactInfo .contactInfodiv {
    padding-top: 5%;
    padding-bottom: 5%;
}

.contactInfo .socialmedia-icons {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 4%;
    border: 1;
    border-color: black;
    margin-bottom: 5%;
}

.socialmedia-icons .facebookIcon,
.linkdinIcon,
.twitterIcon,
.youtubeIcon {
    border-style: solid;
    border-width: 1px;
    border-radius: 55%;
    border-color: black !important;
    height: 70%;
    width: 70%;
    text-align: center;
    padding: 5px;   
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 5px;
}



.facebookIcon:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 55%;
    border-color: #4267B2 !important;
    background-color: #4267B2;
    color: white;
    cursor: pointer;
}

.linkdinIcon:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 55%;
    border-color: lightblue !important;
    background-color: lightblue;
    color: white;
    cursor: pointer;
}

.twitterIcon:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 55%;
    border-color: lightskyblue !important;
    background-color: lightskyblue;
    cursor: pointer;
    color: white;
}

.youtubeIcon:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 55%;
    border-color: #E1306C
    !important;
    background-color: #E1306C
    ;
    color: white;
    cursor: pointer;
}