.article {
  position: relative;
  padding: 5%;
  z-index: 0;
}

.article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: -1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background: url("../../images/background1.jpg");
}